button {
  cursor: pointer;
}
.container {
  width: 500px;
  height: 500px;
  overflow: scroll;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  row-gap: 20px;
}
.form__input {
  background: none;
  padding: 10px;
  font-size: 20px;
  border: 1px solid rgba(0,0,0,.5);
}
.form__submit {
  background: rgb(8, 150, 8);
  padding: 10px;
  font-size: 20px;
  border: none;
  color: #fff;
}
.form__submit:active{
  background: rgb(0, 109, 0);
}
.hidden{
  display: none!important;
}
.controller{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.controller__btn {
  background: rgb(8, 150, 8);
  padding: 10px;
  font-size: 20px;
  border: none;
  color: #fff;
}
.controller__btn:active{
  background: rgb(0, 109, 0);
}
.error-box, .message {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: rgba(0,0,0,.7);
}
.error-box {
  color: red;
}